.oraman-details-header {
  border-bottom: 1px solid #777;
  margin-top: 20px;
  margin-bottom: 10px;
}

.oraman-aas-chart-container {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.oraman-aas-chart-container>div {
  height: 390px;
}