<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" role="form" style="margin-bottom: 10px">
        <div class="form-group has-feedback" ng-class="{ 'has-error': !dateRegex.test(intervalStartString.trim()) }">
          <input type="text" class="form-control" style="width: 200px"
              ng-model="intervalStartString">
          <span class="glyphicon glyphicon-remove form-control-feedback"
              ng-hide="dateRegex.test(intervalStartString.trim())" />
        </div>
        <span class="glyphicon glyphicon-minus" />
        <div class="form-group has-feedback" ng-class="{ 'has-error': !dateRegex.test(intervalEndString.trim()) }">
          <input type="text" class="form-control" style="width: 200px"
              ng-model="intervalEndString">
          <span class="glyphicon glyphicon-remove form-control-feedback"
              ng-hide="dateRegex.test(intervalEndString.trim())" />
        </div>
        <button type="button" class="btn btn-primary" ng-click="loadData()">Load</button>

        <button type="button" class="btn" style="float: right; margin-left: 10px" title="Foward"
            ng-click="goForward()">
          <span class="glyphicon glyphicon-arrow-right" />
        </button>
        <button type="button" class="btn" style="float: right" title="Back" ng-click="goBack()">
          <span class="glyphicon glyphicon-arrow-left" />
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="oraman-aas-chart-container">
        <div oraman-aas-chart aas-url="{{url}}"
          aas-title="Average Active Sessions"
          aas-no-data-message="NOT AVAILABLE" aas-series="series"
          aas-preprocessor="preprocessor"></div>
      </div>
    </div>
  </div>
  <div class="row ash-top-activity">
    <div class="col-md-6">
      <table class="table table-bordered table-condensed table-striped">
        <caption>Top SQL</caption>
        <thead>
          <tr>
            <th>SQL ID</th>
            <th colspan="2">Activity</th>
            <th>AAS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sql in topSql">
            <td ng-switch="sql.sqlId"><span ng-switch-when="Unknown">Unknown</span>
              <a title="{{sql.sqlText}}" href="#/sql/{{sql.sqlId}}"
              ng-switch-default>{{sql.sqlId}}</a></td>
            <td class="ash-activity-bar">
              <div title="{{element.title}}" ng-style="element.style"
                ng-repeat="element in sql.activityBar">&nbsp;</div>
            </td>
            <td>{{sql.percentageFixed}}%</td>
            <td>{{sql.aasFixed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered table-condensed table-striped">
        <caption>Top Sessions</caption>
        <thead>
          <tr>
            <th>SID</th>
            <th>User</th>
            <th>Program</th>
            <th colspan="2">Activity</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="sess in topSessions">
            <td><a
              href="#session?sid={{sess.sessionId}}&serialNumber={{sess.serialNumber}}">{{sess.sessionId}}</a></td>
            <td>{{sess.username}}</td>
            <td>{{sess.program}}</td>
            <td class="ash-activity-bar">
              <div title="{{element.title}}" ng-style="element.style"
                ng-repeat="element in sess.activityBar">&nbsp;</div>
            </td>
            <td>{{sess.percentageFixed}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
