#sql-full-text pre {
  white-space: normal;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
}

.sql-statistics {
  padding-top: 0;
}

.sql-statistics th.title {
  text-align: center;
  font-size: 15px;
}

.sql-statistics tr {
  font-size: 13px;
}