<div>
  <div class="container-fluid" ng-show="table">
    <div class="row" ng-show="schemas">
      <div class="col-md-12">
        <h2>Table: {{table.name}} ({{table.dataSizeMb + table.lobSizeMb + table.indexSizeMb}} Mb)</h2>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Property</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Rows</td><td>{{table.rows}}</td></tr>
            <tr><td>Data</td><td>{{table.dataSizeMb}} Mb</td></tr>
            <tr><td>Lob</td><td>{{table.lobSizeMb}} Mb</td></tr>
            <tr><td>Index</td><td>{{table.indexSizeMb}} Mb</td></tr>
          </tbody>
        </table>

        <h2>Columns</h2>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Data Type</th>
              <th>Length</th>
              <th>Precision</th>
              <th>Scale</th>
              <th>Nullable</th>
              <th>Last Analyzed</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="col in table.columns">
              <td>{{col.name}}</td>
              <td>{{col.dataType}}</td>
              <td>{{col.length}}</td>
              <td>{{col.precision}}</td>
              <td>{{col.scale}}</td>
              <td>{{col.nullable}}</td>
              <td>{{col.lastAnalyzed}}</td>
            </tr>
          </tbody>
        </table>
        <h2>Indexes</h2>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Columns</th>
              <th>Unique</th>
              <th>Tablespace</th>
              <th>Logging</th>
              <th>Blevel</th>
              <th>Leaf Blocks</th>
              <th>Distinct Keys</th>
              <th>Rows</th>
              <th>Sample Size</th>
              <th>Size</th>
              <th>Last Analyzed</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="ind in table.indexes">
              <td rowspan="{{ind.columns.length}}">{{ind.name}}</td>
              <td>{{ind.columns[0]}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.unique}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.tablespace}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.logging}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.blevel}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.leafBlocks}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.distinctKeys}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.rows}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.sampleSize}}</td>
              <td rowspan="{{ind.columns.length}}">{{ind.sizeMb}} Mb</td>
              <td rowspan="{{ind.columns.length}}">{{ind.lastAnalyzed}}</td>
            </tr>
            <tr ng-repeat-end ng-repeat="col in ind.columns.slice(1)">
              <td>{{col}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container-fluid" ng-hide="table">
    <div class="row" ng-show="schemas">
      <div class="col-md-12">
        <div class="form-group">
          <label>Schema</label>
          <select ng-model="schema" ng-options="opt as opt for opt in schemas" ng-change="loadTables()">
          </select>
        </div>
      </div>
    </div>
    <div class="row" ng-show="tables">
      <div class="col-md-12">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th><input type="text" class="form-control" placeholder="Table" ng-model="tableFilter"></th>
              <th>Tablespace</th>
              <th>Rows</th>
              <th>Last Analyzed</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="page" ng-repeat="t in page">
              <td><a href="#/tables?table={{t.name}}&schema={{schema}}">{{t.name}}</a></td>
              <td>{{t.tablespace}}</td>
              <td>{{t.rows}}</td>
              <td>{{t.lastAnalyzed}}</td>
            </tr>
            <tr ng-hide="page">
              <td align="center">Not Found</td>
            </tr>
          </tbody>
        </table>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-form navbar-left">
              <input class="btn btn-default" style="width: 100px;" ng-click="previousPage()" type="button" value="Previous" />
            </div>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <label>{{currentPage + 1}} / {{totalPages}}&nbsp;&nbsp;</label>
                <input type="text" class="form-control" placeholder="Page" ng-model="pageToGo" style="width: 5em;">
                <button type="button" class="btn btn-default" ng-click="goToPage(pageToGo)">Go</button>
              </div>
            </form>
            <div class="navbar-form navbar-left" style="margin-right: 0px;">
              <input class="btn btn-default" style="width: 100px;" ng-click="nextPage()" type="button" value="Next" />
            </div>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <label>Items per Page</label>
                <input type="text" class="form-control" placeholder="Page Size" ng-model="newPageSize" style="width: 5em;">
                <button type="button" class="btn btn-default" ng-click="changePageSize(newPageSize)"><i class="glyphicon glyphicon-retweet"></i></button>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
    <div class="row" ng-show="schemas != null && schemas.length == 0">
      <div class="col-md-12">
        <div class="alert alert-warning" style="text-align: center">NOT AVAILABLE</div>
      </div>
    </div>
  </div>
</div>
